.button {
    padding: 10px 15px;
    /* background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color); */
    background: #498bc0;
    color: #7ce359;
    border: none;
    outline: none;
    cursor: pointer;
}